/* ======================= 菜单相关 ======================= */
.el-menu {
  // 导航菜单设置文本与图表的距离
  &:not(.el-menu--collapse) .el-sub-menu__title span {
    margin-left: 10px;
  }
  // 激活菜单背景
  .el-menu-item.is-active {
    background-color: #2d8cf0;
  }
  .el-sub-menu .el-menu-item {
      min-width: auto;
    }
  }
  
/* ======================= 表格相关 ======================= */

// 分页
#app {
  .el-pagination {
    padding-top: 8px;
    .el-pagination__total, .el-pagination__sizes {
      margin-right: 8px;
    }
    li {
      margin: 0 2px;
    }
    .el-select {
      .el-input {
        width: 100px;
      }
    }
  }
}

/* ======================= 其余 ======================= */

// card
.el-card {
  --el-card-padding: 8px !important;
}