#app {

  /* ======================= 菜单相关 ======================= */
  .el-menu {
    // 导航菜单设置文本与图表的距离
    &:not(.el-menu--collapse) .el-sub-menu__title span {
      margin-left: 10px;
    }
    // 激活菜单背景
    .el-menu-item.is-active {
      background-color: #2d8cf0;
    }
    .el-sub-menu .el-menu-item {
        min-width: auto;
      }
    }
    
  /* ======================= 表格相关 ======================= */
  
  // 表格样式
  .el-table {
    .el-table__cell {
      padding: 6px 0;
      .cell {
        line-height: 27px;
        padding: 0 4px;
      }
    }
  }
  // 分页样式
  .el-pagination {
    padding-top: 8px;
    .el-pagination__total, .el-pagination__sizes {
      margin-right: 8px;
    }
    li {
      margin: 0 2px;
    }
    .el-select {
      .el-input {
        width: 100px;
      }
    }
  }

  /* ======================= 弹框相关 ======================= */
.custom-modal {
  @apply rounded-md overflow-hidden;
  .el-dialog__header {
    @apply flex items-center h-[50px] mr-0;
    padding: 0 20px !important;
    background-color: #03152a;
    .el-dialog__title {
      @apply text-white text-sm;
    }
    .el-dialog__close {
      @apply text-white text-lg -mt-1;
    }
  }
  .el-dialog__body {
    @apply min-h-[100px] p-[10px_20px] overflow-y-auto box-border;
    max-height: calc(70vh - 120px);
  }
  .el-dialog__footer {
    @apply h-[50px] box-border;
    padding: 10px 20px !important;
    border-top: 1px solid #e8eaec;
  }
}
  
  /* ======================= 其余 ======================= */
  
  // card
  .el-card {
    --el-card-padding: 8px;
    margin-top: 0;
  }
  
  // button
  .el-button+.el-button {
    margin-left: 5px;
  }
}
