// 隐藏滚动条，默认y
@mixin hideScroll($xy: y) {
    overflow: hidden;
    overflow-#{$xy}: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
        display: none;
    }
}

// 页面操作区域
.operate-box {
    padding-bottom: 8px;
}

// #app
.el-table {
    .test-table-style {
        &, &.hover-row, & > .el-table__cell {
            background-color: yellowgreen !important;
            .cell, .cell * {
                color: #FFFFFF !important;
            }
        }
    }
}
